<?xml version="1.0"?>
<config>
    <modules>
       <WorldPayTech_WorldAch>
<!-- declare module's version information for database updates -->
          <version>0.1.0</version>
       </WorldPayTech_WorldAch>
    </modules>
 
    <global>
<!-- IMPORTANT: if you use your own namespace (i.e. CompanyName) you also have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
    <blocks>
        <worldach>
            <class>WorldPayTech_WorldAch_Block</class>
        </worldach>
    </blocks>
       
        
<!-- declare model group for new module -->
        <models>
<!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <worldach>
<!-- base class name for the model group -->
                <class>WorldPayTech_WorldAch_Model</class>
            </worldach>
        </models>
         <helpers>
            <worldach>
                <class>WorldPayTech_WorldAch_Helper</class>
            </worldach>
        </helpers>
 
<!-- declare resource setup for new module -->
        <resources>
<!-- resource identifier -->
            <worldach_setup>
<!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
<!-- which module to look for install/upgrade files in -->
                    <module>WorldPayTech_WorldAch</module>
                </setup>
<!-- specify database connection for this resource -->
                <connection>
<!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </worldach_setup>
            <worldach_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </worldach_write>
            <worldach_read>
               <connection>
                <use>core_read</use>
              </connection>
            </worldach_read>
        </resources>
    </global>
 
<!-- declare default configuration values for this module -->
    <default>
<!-- 'payment' configuration section (tab) -->
        <payment>
<!-- 'newmodule' configuration group (fieldset) -->
            <worldach>
<!-- by default this payment method is inactive -->
                <active>0</active>
<!-- model to handle logic for this payment method -->
                <model>worldach/paymentMethod</model>
<!-- order status for new orders paid by this payment method -->
                <order_status>pending</order_status>
<!-- default title for payment checkout page and order view page -->
                <title>WorldPay ACH</title>
 
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </worldach>
         </payment>
    </default>
</config>